<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://d38we5ntdyxyje.cloudfront.net/1666396/profile/BZBZAEPU_avatar_medium_square.jpg" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600"> {{userDetails.FirstName}} {{userDetails.LastName}}
									                <div class="glyphicon glyphicon-edit editicon" data-toggle="modal" data-target="#updatememberModal" ng-click="openEditProfile(userDetails)"></div>
								                </h6>
                                <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{userDetails.Email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{userDetails.Mobile}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">My Addresses</h6>
                                <div class="row" ng-repeat="x in Addresses" >
                                  <tr ng-repeat="x in Addresses">
                                    <td><div class="glyphicon glyphicon-edit editicon" data-toggle="modal" data-target="#updateaddressModal" ng-click="openPrimaryAddress(x)"></div></td>
                                    <td>{{x.DetailedAddress }} {{x.Region }} {{x.Province }} {{x.City }} {{x.Barangay }} {{x.Postal }}</td>
                                  </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="updatememberModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UPDATE PROFILE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="updateMemberForm"  class="user"  class="was-validated">
                
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="child-label" >First Name:</label>
                    <input type="text"  class="form-control"  ng-model="efirstname"  required>
                  </div>
                  <div class="col-sm-6">
                    <label class="child-label" >Last Name:</label>
                    <input type="text" class="form-control"  ng-model="elastname" required>
                  </div>
                </div>
                <a href ng-click="updateAccount()"  class="btn btn-warning btn-user btn-block">
                  Update Account
                </a>
                <hr>
                
              </form>
            </div>
            
        </div>
    </div>
</div>


<div class="modal" id="updateaddressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UPDATE ADDRESS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="updateAddressForm"  class="user"  class="was-validated">
                
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="child-label" >Region:</label>
                        <input type="text" class="form-control"  ng-model="eregion"  required>
                      </div>
                      <div class="col-sm-6">
                        <label class="child-label" >Provice:</label>
                        <input type="text" class="form-control"  ng-model="eprovince" required>
                      </div>
            
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="child-label" >City:</label>
                        <input type="text" class="form-control"  ng-model="ecity" required>
                      </div>

                      <div class="col-sm-6">
                        <label class="child-label" >Barangay:</label>
                        <input type="text" class="form-control" ng-model="ebarangay" >
                      </div>
                    </div>

                    <div class="form-group row">

                      <div class="col-sm-6">
                        <label class="child-label" >Postal Code:</label>
                        <input type="text" class="form-control" ng-model="epostal" >
                      </div>

                      <div class="col-sm-6">
                        <label class="child-label" >Detailed Address:</label>
                        <input type="text" class="form-control" ng-model="edetailedaddress" >
                      </div>

                      </div>

                      <a href ng-click="updateAddress()"  class="btn btn-warning btn-user btn-block"> Update Account</a>
                    
                  </form>
                </div>
          </div>
    </div>
</div>